@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  font-family: 'Noto Sans', sans-serif; }

/**
 * Components
 */
h1 {
  margin-bottom: 20px; }

.section {
  border-top: 1px solid #CCC;
  padding-top: 20px;
  margin-top: 20px; }
  .section h2 {
    margin-top: 0; }
  .section .section-number {
    border: 1px solid #ccc;
    border-radius: 90px;
    padding: 20px;
    font-size: 40px;
    text-align: center; }
  .section .form-group {
    margin-top: 20px; }
    .section .form-group label {
      font-size: 20px;
      margin: 10px 0; }
    .section .form-group .form-control {
      font-size: 24px;
      height: 48px; }

.navbar.navbar-default.navbar-usda .nav.navbar-nav li.active a {
  font-weight: bold;
  background: none; }
  .navbar.navbar-default.navbar-usda .nav.navbar-nav li.active a .text {
    padding-bottom: 5px;
    border-bottom: 3px solid #ccc; }
