@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,900);
/**
 * Colors
 */
/**
 * Font Weights
 */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-weight: 400; }

/**
 * Components
 */
.icon-info {
  font-size: 18px;
  position: relative;
  top: -2px; }
  .icon-info .fa-circle-thin {
    color: #fbb03f; }
  .icon-info .fa-question {
    color: #fbb03f; }
  .icon-info .fa-question:before {
    content: "?";
    left: 0;
    width: 24px !important;
    font-weight: bold;
    height: 24px;
    margin-top: 0;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FBB040;
    background: none;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer; }

button.button,
.button, .button:active, .button:focus {
  background: transparent;
  border-radius: 30px;
  padding: 8px 25px;
  font-size: 16px; }
  button.button i.icon-left,
  .button i.icon-left, .button:active i.icon-left, .button:focus i.icon-left {
    margin-right: 10px; }
  button.button i.icon-right,
  .button i.icon-right, .button:active i.icon-right, .button:focus i.icon-right {
    margin-left: 10px; }
  button.button.button-lg,
  .button.button-lg, .button:active.button-lg, .button:focus.button-lg {
    padding: 10px 50px;
    font-size: 24px; }
    button.button.button-lg i.icon-right,
    .button.button-lg i.icon-right, .button:active.button-lg i.icon-right, .button:focus.button-lg i.icon-right {
      margin-left: 15px; }

.button-transparent {
  padding: 10px 25px;
  color: #666; }

.button-invert-blue {
  border: 2px solid #00aeef;
  color: #00aeef;
  font-weight: 700; }
  .button-invert-blue:hover {
    background-color: #00aeef;
    color: #fff; }
  .button-invert-blue.disabled {
    border: 2px solid #ccc !important;
    color: #ccc !important;
    font-weight: 700;
    background-color: #eee !important; }

.button-disabled {
  border: 2px solid #ccc !important;
  color: #ccc !important;
  font-weight: 700;
  background-color: #eee !important; }
  .button-disabled:hover {
    background-color: #eee !important;
    border: 2px solid #ccc !important;
    color: #ccc !important; }

.button-invert-green {
  border: 2px solid #3ab54a;
  color: #3ab54a;
  font-weight: 700; }
  .button-invert-green:hover {
    color: #3ab54a; }

.button-invert-red {
  border: 2px solid #ee3e35;
  color: #ee3e35;
  font-weight: 700; }
  .button-invert-red:hover {
    color: #ee3e35; }

.button-orange, .button-orange:focus {
  background-color: #fbb03f;
  color: #fff;
  font-weight: 700; }
  .button-orange:hover, .button-orange:focus:hover {
    color: #fff; }

.button-orange-inverse {
  border: 2px solid #fbb03f;
  color: #fbb03f;
  font-weight: 700; }

body {
  padding-bottom: 100px; }

.navbar.navbar-default.navbar-usda {
  background-color: #FFF;
  border-bottom: 1px solid #ccc; }
  .navbar.navbar-default.navbar-usda .nav.navbar-nav {
    margin-top: 10px; }
    .navbar.navbar-default.navbar-usda .nav.navbar-nav li {
      font-size: 16px; }
      .navbar.navbar-default.navbar-usda .nav.navbar-nav li a {
        color: #333; }
    .navbar.navbar-default.navbar-usda .nav.navbar-nav li.active a {
      font-weight: bold;
      background: #FFF; }
  .navbar.navbar-default.navbar-usda .navbar-brand {
    color: #000;
    display: block;
    width: 170px;
    font-size: 36px;
    margin-top: 12px;
    padding: 0 15px; }

#page-welcome {
  margin-top: 20px; }
  #page-welcome h1 {
    font-size: 48px;
    color: #038bce; }
    #page-welcome h1 strong {
      font-weight: 900; }
  #page-welcome h2 {
    color: #00aeef;
    font-size: 24px;
    font-weight: 700;
    margin-top: 45px;
    margin-bottom: 25px; }
  #page-welcome h3 {
    font-weight: bold; }
  #page-welcome p {
    font-size: 18px; }
  #page-welcome ol {
    font-weight: 300;
    font-size: 22px;
    padding-left: 30px;
    margin-bottom: 20px; }
    #page-welcome ol li {
      margin-bottom: 15px; }
  #page-welcome .welcome-information {
    margin-bottom: 30px; }
    #page-welcome .welcome-information .form-control-feedback {
      right: 10px; }
    #page-welcome .welcome-information .form-group {
      margin-bottom: 0; }
    #page-welcome .welcome-information .mr10 {
      margin-right: 10px; }
  #page-welcome .button-holder {
    margin: 0 auto 20px;
    padding-left: 0; }
    #page-welcome .button-holder .button-orange, #page-welcome .button-holder .button-orange:focus {
      background-color: #fbb03f;
      color: #fff;
      font-weight: 700;
      border: none; }
      #page-welcome .button-holder .button-orange:hover, #page-welcome .button-holder .button-orange:focus:hover {
        color: #fff; }
  #page-welcome .checkbox-inline {
    font-size: 18px; }
    #page-welcome .checkbox-inline input[type=checkbox] {
      width: 44px;
      height: 44px;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;
      border: 1px solid #CCC;
      border-radius: 6px;
      text-decoration: none;
      box-sizing: border-box;
      transition: all .3s linear;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
    #page-welcome .checkbox-inline .checkbox-label {
      padding-left: 40px;
      line-height: 50px; }
    #page-welcome .checkbox-inline input[type="checkbox"]:checked {
      background-color: #00aeef;
      text-decoration: none;
      border: 1px solid #038bce; }
    #page-welcome .checkbox-inline input[type="checkbox"]:focus {
      outline: 0 none;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

@media (max-width: 767px) {
  .welcome-image {
    display: none; } }
a:hover {
  text-decoration: none;
  color: #000; }

.mb15 {
  margin-bottom: 15px; }

.mb25 {
  margin-bottom: 25px; }

.mr10 {
  margin-right: 10px; }

#page-application-form {
  padding-bottom: 200px; }
  #page-application-form h2 {
    color: #038bce;
    font-weight: bold;
    font-size: 32px; }
  #page-application-form h3 {
    font-weight: bold;
    font-size: 28px; }
  #page-application-form h4 {
    font-weight: bold;
    font-size: 18px; }
    #page-application-form h4.optional {
      color: #999; }
  #page-application-form h5 {
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-right: 15px; }
  #page-application-form p {
    font-weight: 300;
    font-size: 18px; }
    #page-application-form p.text-large {
      font-size: 24px; }
  #page-application-form .tableHeaders {
    font-size: 18px;
    text-align: left; }
  #page-application-form hr.divider {
    border-top: 1px solid #eee; }
  #page-application-form .tableItems .remove-item {
    font-size: 32px;
    color: #555; }
  #page-application-form .checkbox-inline {
    font-size: 18px; }
    #page-application-form .checkbox-inline input[type=checkbox] {
      /* Double-sized Checkboxes */
      -ms-transform: scale(2);
      /* IE */
      -moz-transform: scale(2);
      /* FF */
      -webkit-transform: scale(1);
      /* Safari and Chrome */
      -o-transform: scale(2);
      /* Opera */
      padding: 10px; }
    #page-application-form .checkbox-inline .checkbox-label {
      padding-left: 10px; }
  #page-application-form .black-button-large {
    background: #000;
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 34px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    color: #FFF;
    font-weight: bold; }
  #page-application-form .white-button-large {
    background: #FFF;
    border: 2px solid #000;
    border-radius: 50px;
    font-size: 30px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    color: #000;
    font-weight: bold; }
  #page-application-form .white-button {
    background: #FFF;
    border: 2px solid #000;
    border-radius: 50px;
    font-size: 18px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    color: #000;
    font-weight: bold; }
    #page-application-form .white-button:hover {
      text-decoration: none; }
  #page-application-form .black-button-large:hover {
    color: #FFF;
    text-decoration: none; }
  #page-application-form .modal .modal-header h4 {
    font-weight: bold; }
  #page-application-form .modal .close {
    font-size: 36px; }
  #page-application-form .modal .modal-body {
    font-size: 18px; }
  #page-application-form .footer {
    position: fixed;
    bottom: 0px;
    height: 80px;
    border-top: 1px solid #BBB;
    left: 0px;
    right: 0px;
    background: #fff;
    padding: 20px 0; }
    #page-application-form .footer a.link {
      padding: 10px;
      padding-right: 40px;
      padding-left: 40px;
      font-size: 24px;
      color: #888; }
    #page-application-form .footer .footer-progress-step {
      font-size: 12px; }
      #page-application-form .footer .footer-progress-step.step-active .icon-outline,
      #page-application-form .footer .footer-progress-step.step-active .icon-number {
        color: #fbb03f; }
      #page-application-form .footer .footer-progress-step.step-active .icon-background,
      #page-application-form .footer .footer-progress-step.step-active .icon-image {
        display: none; }
      #page-application-form .footer .footer-progress-step.step-disabled .icon-outline,
      #page-application-form .footer .footer-progress-step.step-disabled .icon-number {
        color: #ccc; }
      #page-application-form .footer .footer-progress-step.step-disabled .icon-background,
      #page-application-form .footer .footer-progress-step.step-disabled .icon-image {
        display: none; }
      #page-application-form .footer .footer-progress-step.step-complete .icon-outline,
      #page-application-form .footer .footer-progress-step.step-complete .icon-number {
        display: none; }
      #page-application-form .footer .footer-progress-step.step-complete .icon-background {
        color: #000; }
      #page-application-form .footer .footer-progress-step.step-complete .icon-image {
        color: #fff; }
    #page-application-form .footer .footer-bav-connector {
      width: 50px;
      border: 1px solid #BBB;
      margin-left: -5px;
      margin-right: -5px; }
  #page-application-form .form-group .form-control-feedback {
    right: 10px; }

.circular_button {
  display: block;
  width: 200px;
  height: 200px;
  border: 2px solid #06A7EB;
  border-radius: 100px;
  font-size: 18px;
  color: #06A7EB;
  text-align: center;
  background: #e1f0ff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 30px; }

.circular_button:hover {
  background: #ffb450;
  color: #fff;
  box-shadow: inset 0 0 0 3px #FFF;
  border: 4px solid #ffb450; }

.grey_header {
  text-transform: uppercase;
  color: #888;
  font-size: 16px;
  font-weight: bold; }

@media (max-width: 767px) {
  #page-application-form .footer {
    height: auto; }
    #page-application-form .footer .footer-bav-connector {
      width: 27px; } }
