.icon-info {
	font-size: 18px;
	position: relative;
	top: -2px;

	.fa-circle-thin {
		color: $color_action;
	}

	.fa-info {
		color: $color_action;
	}

	.fa-info:before {
		content: "i";
		left: 0;
		width: 24px!important;
		height: 24px;
		margin-top: 0;
		font-size: 20px;
		font-weight: 500;
		line-height: 23px;
		text-align: center;
		color: #FBB040  ;
		background: none;
		border-radius: 100%;
		display: inline-block;
		cursor: pointer;
	}
}

button.button,
.button, .button:active, .button:focus {
	background: transparent;
	border-radius: 30px;
	padding: 8px 25px;
	font-size: 16px;
	i {
		&.icon-left {
			margin-right: 10px;
		}
		&.icon-right {
			margin-left: 10px;
		}
	}
	&.button-lg {
		padding: 10px 50px;
		font-size: 24px;
		i {
			&.icon-right {
				margin-left: 15px;
			}
		}
	}
}
.button-transparent {
	padding: 10px 25px;
	color: #666;
}

.button-invert-blue {
	border: 2px solid $color_subtitle;
	color: $color_subtitle;
	font-weight: $fw_bold;
	&:hover {
		background-color: $color_subtitle;
		color: #fff;
	}
	&.disabled {
		border: 2px solid #ccc !important;
		color: #ccc !important;
		font-weight: $fw_bold;
		background-color: #eee !important;
	}
}

.button-disabled {
	border: 2px solid #ccc !important;
	color: #ccc !important;
	font-weight: $fw_bold;
	background-color: #eee !important;
	&:hover {
		background-color: #eee !important;
		border: 2px solid #ccc !important;
		color: #ccc !important;
	}
}

.button-invert-green {
	border: 2px solid $color_green;
	color: $color_green;
	font-weight: $fw_bold;
	&:hover {color: $color_green;}
}

.button-invert-red {
	border: 2px solid $color_red;
	color: $color_red;
	font-weight: $fw_bold;
	&:hover {color: $color_red;}
}

.button-orange {
	background-color: $color_action;
	color: #fff;
	font-weight: $fw_bold;
	&:hover {
		color: #fff;
	}
}

.button-orange-inverse {
	border: 2px solid $color_action;
	color: $color_action;
	font-weight: $fw_bold;
}