
h1 {
	margin-bottom: 20px;
}

hr {
	border-top: 1px solid #CCC;
}

.centered {
	text-align: center;
}

.section {
	border-top: 1px solid #CCC;
	padding-top: 20px;
	margin-top: 20px;

	h2 {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.section-number {
		border: 1px solid #CCC;
		border-radius: 90px;
		padding: 20px;
		font-size: 40px;
		text-align: center;
	}

	.add-button {
		border: solid 1px #CCC;
		padding: 10px 40px;
		text-decoration: none;
		font-size: 20px;
		color: #000;
	}
}

.assistance {
	margin-top: 50px;
}

.form-group {
	margin-top: 20px;
	font-size: 20px;

	label {
		font-size: 20px;
		margin: 0 0 10px;
	}

	p {
		margin-bottom: 20px;
	}

	.form-control {
		font-size: 20px;
		height: 48px;
	}

	.radio-inline, .checkbox-inline {
		margin-right: 15px;
	}

	input[type=radio], input[type=checkbox]{
		margin-top: 6px;
	}

	.input-group {
		float: left;
		margin-right: 20px;

		select, option {
			padding: 20px 20px;
		}
	}

	.childIncomeRow * {
		font-size: 20px;
	}

	.childIncomeRow {
		margin-bottom: 30px;
	}
}