
h1 {
	margin-bottom: 20px;
}
.section {
	border-top: 1px solid #CCC;
	padding-top: 20px;
	margin-top: 20px;

	h2 {
		margin-top: 0;
	}

	.section-number {
		border: 1px solid #ccc;
		border-radius: 90px;
		padding: 20px;
		font-size: 40px;
		text-align: center;
	}

	.add-button {
		border: solid 1px #ccc;
		padding: 10px 40px;
		text-decoration: none;
		font-size: 20px;
		color: #000;
	}
}

.form-group {
	margin-top: 20px;

	label {
		font-size: 20px;
		margin: 0 0 10px;
	}

	.form-control {
		font-size: 24px;
		height: 48px;
	}

	.radio-inline, .checkbox-inline {
		margin-right: 15px;
	}

	input[type=radio], input[type=checkbox]{
		margin-top: 6px;
	}
}