body {
	padding-bottom: 100px;
}

.navbar.navbar-default.navbar-usda {
	background-color: #FFF;
	border-bottom: 1px solid #ccc;

	.nav.navbar-nav {
		margin-top: 10px;
		li {
			font-size: 16px;
			a {
				color: #333;
			}
		}
		li.active {
			a {
				font-weight: bold;
				background: #FFF;
			}
		}
		li:hover {
			a {
				.border-header-link {
					//background-color: #3498db;
					//border-color: #3498db;
					//color: #fff;
				}
			}
		}
	}

	.navbar-brand {
		color: #000;
		display: block;
		width: 170px;
		font-size: 36px;
		margin-top: 12px;
		padding: 0 15px;
	}
}