#page-welcome {
	margin-top: 20px;
	h1 {
		font-size: 48px;
		color: $color_title;
		strong {
			font-weight: $fw_extra_bold;
		}
	}
	h2 {
		color: $color_subtitle;
		font-size: 24px;
		font-weight: $fw_bold;
		margin-top: 45px;
		margin-bottom: 25px;
	}
	p {
		font-size: 18px;
	}
	ol {
		font-weight: 300;
		font-size: 22px;
		padding-left: 20px;
		margin-bottom: 50px;
		li {
			margin-bottom: 15px;
		}
	}
}